body {
    background-color: #368c97;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
 }
 
 
 header {
    background-color: #004d40;
    color: white;
    padding: 20px;
    text-align: center;
 }
 
 
 h1 {
    color: #151403;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: left;
    margin: 5%
 }
 
 h2 {
    color: #151403;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: right;
    margin: 5%
 }
 
 p {
    color: #070701;
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
 }
 
 
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
 }
 
 .button {
    background-color: #ff6f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
 }
 
 .button:hover {
    background-color: #e70f57;
 }
 
 footer {
    background-color: #ee1e2f;
    color: rgb(204, 18, 18);
    text-align: left;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
 }
 